{% extends 'base.html.twig' %}

{% block body %}

<main class="home-container">
    <div class=" publicity d-flex justify-content-center align-items-center mb-5">
    {# Situation #}
    <img src="{{ asset('assets/images/situation.png')}}" alt="">
    </div>
    <div class="publicity-text d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center align-items-center">
            <div class="accroche">
                <p class="fw-bold">Tu as déjà vécu ce genre de situation ?</p>
                <p class="fw-bold">Facilite toi la vie avec <span class="emphase"> O’Berge’Inn !<span></p>
                <p class="fw-bold">Inscris-toi et</p>
            </div>
        </div>
        <div class="home-buttons">
            <a href="{{ path('app_register')}}"class="btn mt-5 mb-5 fw-bold home-button_inscription button_inscription">
                Organise ton 1er événement!
            </a>
            <a href="{{ path('app_login') }}" class="btn home-button_connexion button_connexion">
                Connexion
            </a>
        </div>

    </div>
</main>


{% endblock %}
