{% extends "base.html.twig" %}

{% block body %}
<a href="{{path('home')}}">Retour à l'accueil</a>
<h2 class="text-center">Mentions légales</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate molestias ullam exercitationem, cum et officiis dolor rerum assumenda laudantium dolores sit dignissimos explicabo nihil necessitatibus magni nobis eligendi laboriosam beatae.</p>
{% endblock %}