{% extends "backoffice/layout.html.twig" %}
{% form_theme eventView 'bootstrap_5_layout.html.twig' %}

{% block content %}

<div class="admin-event-edit">
    <h1>Editer l'événement {{event.title}}</h1>
    <div class="admin-event-edit-form">
    {{ include('backoffice/event/_form.html.twig', {'button_label': 'Editer'}) }}
    </div>

    {{ include('backoffice/event/_delete_form.html.twig') }}

    </div>
{% endblock %}