{% extends 'base.html.twig' %}

{% block title %}
    Administration
{% endblock %}

{% block body %}
    
    <main style="margin:100px">
        <h1 class='text-center pb-5 color-three'>Hello {{ app.user.pseudo }}</h1>


    <div class="row mt-5 pb-5 pt-5">
        <div class="col-12 col-lg-6 col-xs-12 pb-5 display_grid">
            <div class="card text-center card-color">
            <div class="card-body color-four ">
                <h2 class="card-header">Liste des utilisateurs existants</h2>
                <p class="card-text">Interface de gestion des utilisateurs</p>
                <a href="{{ path('backoffice_user_index') }}" class="btn button_admin">Accéder</a>
            </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 pb-5 display_grid">
            <div class="card text-center card-color">
            <div class="card-body color-four">
                <h2 class="card-header">Liste des évènements</h2>
                <p class="card-text">Interface de gestion des évènements</p>
                <a href="{{ path('backoffice_event_index') }}" class="btn button_admin">Accéder</a>
            </div>
            </div>
    </div>

    </main>
{% endblock %}
