{% extends 'base.html.twig' %}

{% block title %}Modification du Profil{% endblock %}

{% block body %}

   {# {%for message in app.flashes('error')%}
        <div class="alert alert-danger" role="alert">
                 {{message}}
        </div>
        {%endfor%} #}

        <div class="d-flex flex-column align-items-center color-one ">

    <a class="d-flex align-self-baseline ms-4 color-four text-decoration-none link"href="{{ path('user_index')}}">Retour</a>
        <h1 class="mb-5">Nouveau mot de passe</h1>

 <form method="POST">
 
  {#Form 1#}
    <div class="row g-3 align-items-center mb-1">
        <div class="col-auto">
            <label for="pass" class="col-form-label">Mot de passe</label>
        </div>
            <div class="col-auto">
                <input type="password" name="pass" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
    </div>

    {#Form 2 to verify #}
     <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="pass2" class="col-form-label"> Confirmer le Mot de passe</label>
        </div>
            <div class="col-auto">
                <input type="password" name="pass2" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
    </div>
     <button type="submit" class="btn button_inscription">Valider</button>

 </form>
    
{% endblock %}