{% extends 'base.html.twig' %}

{% block body %}

 <button class="return-button button-link d-flex align-self-start ms-4 bg-one rounded p-1">
    <a class="text-decoration-none link color-four" href="{{ path('user_index') }}">Retour</a>
</button>
<section class="profile-password-edit">
    <h1>Nouveau mot de passe</h1>
 <form method="POST">
  {#Form 1#}
        <div>
            <label for="pass" class="col-form-label">Mot de passe</label>
        </div>
        <div>
            <input type="password" name="pass" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
        </div>

    {#Form 2 to verify #}
        <div>
            <label for="pass2" class="col-form-label"> Confirmer le Mot de passe</label>
        </div>
        <div>
            <input type="password" name="pass2" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="profile-password-edit-button">
            <button type="submit" class="btn button_inscription">Valider</button>
        </div>

 </form>
    
{% endblock %}