{% extends "base.html.twig" %}
{% form_theme formView 'bootstrap_5_layout.html.twig' %}

{% block body %}
<button class="button-link d-flex align-self-start ms-4 bg-one rounded p-1">
    <a class="text-decoration-none link color-four" href="{{ path('survey_index') }}">Retour</a>
</button>
<div class="survey-create">
    <section class="survey-form">
        <h1 class="fw-bold">Créer un sondage</h1>
        <h4 class="mb-5 color-three">Choix de la date</h4>
        <div style="color:white" class="fw-bold">
            {{ form_start (formView) }}
                {{form_widget(formView)}}
    <div class="survey-create-button">
        <button type="submit" class="btn button_inscription">Valider
        </button>
    </div>
            {{ form_end (formView) }}
        </div>
    </div>
</div>
{% endblock %}
